<%if image.emergency %>
	<div class="emergency" >
<% else %>
	<div>
<% end %>
<div class="street_container">
	<p><%=image.street_slug%></p>
</div>
<div class="images_container">
	<a href='<%=image.image.url%>'><img class='image' src='<%=image.image.url(:thumbnail)%>' /></a>
	<img class='theme-icon' src='<%=image.themeImage%>' />
	<%if image.emergency %>
		<%= image_tag("emergency.jpg", :height =>'32', :class=>'emergency') %>
	<% end %>
<%if image.like %>
	<%= image_tag("thumbup.png", :height =>'32', :class=>'like') %>
<% else %>
	<%= image_tag("thumbsdown.png", :height =>'32', :class=>'like') %>
<% end %>
</div>
<div class='clear'></div>

