<!DOCTYPE html>
<html>
<head>
	<%= yield :head %>
  <title>AlertCitizen</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul class="hmenu">
  <%= render 'users/menu/registration_items' %>
  <%= render 'users/menu/login_items' %>
</ul>
<%= yield %>
<%= yield :scripts %>
</body>
</html>
